<%= form_for(@gallery, :html => {:multipart => true}) do |f| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

      <ul>
      <% @gallery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :painting %><br>
    <%= f.text_field :painting %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <p>
      <%= f.label :remote_image_url, "or image url" %>
      <%= f.text_field :remote_image_url %>
    </p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
