<h3>Crop Image</h3>
<% content_for(:head) do %>
    <%= stylesheet_link_tag "jquery.Jcrop" %>
    <%= javascript_include_tag "jquery.Jcrop.min" %>

<% end %>
<%= image_tag @gallery.image_url(:large), id: "crop" %><br/>

<h3>preview</h3>
<%#= image_tag  @gallery.image_url(:large), id: "preview" %>
<%= form_for @gallery do |f| %>
    <% %w[x y w h].each do |attribute| %>
        <%= f.text_field "crop_#{attribute}" , id: "crop_#{attribute}" %><br/>
    <% end %>
    <%= f.submit 'crop' %>
<% end %>
<script>
  $('#crop').Jcrop({
      onSelect: showCoords,
      setSelect: [0,0,500,500],
      onChange: showCoords
  });

        function showCoords(c)
        {
            $('#crop_x').val(c.x)
            $('#crop_y').val(c.y)
            $('#crop_w').val(c.w)
            $('#crop_h').val(c.h)

//            updatePreview(c)
        }

//        function updatePreview(c)
//        {
//            $('#preview').css
//              width: Math.round(100/ c.w * $('#crop').width()) + 'px'
//              height: Math.round(100/ c.h * $('#crop').height()) + 'px'
//              marginLeft: '-' + Math.round(100/ c.w * c.x) + 'px'
//              marginTop: '-' + Math.round(100/ c.h * c.y) + 'px'
//        }
</script>