<p id="notice"><%= notice %></p>

<p>
  <strong>Painting:</strong>
  <%= @gallery.painting %>
  <%= image_tag @gallery.image_url(:large) %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
